html,
body {
  font-family: sans-serif;
  background: linear-gradient(45deg, #509fc9, #e83b59); 
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
  letter-spacing: 0.03em;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  
}